.container{
    display: flex;
    flex-direction: column;
    margin: 3%;
}

.container .main-text{
    color: rgba(27, 26, 26, 0.932);
}

.container .sub-text{
    font-size: 18px; 
    font-family: Arial, sans-serif;
    color: #35302d;
    text-transform: capitalize;
    margin-bottom: 3%;
}

